* {
	color: #fff;
}

body {
	background-color: rgb(32, 23, 153);
}

#body {
	min-height: 400px;
	height: 550px;
	width: 90%;
	margin: 0 auto auto auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	box-shadow: 0 0 5px rgb(0, 0, 0);
}

#header {
	width: 100%;
	height: 20%;
	background-color: rgb(255, 115, 0);
	color: white;
	text-align: center;
	font-size: 60px;
	font-weight: 800;
	display: flex;
	justify-content: center;
	align-items: center;
}

#main {
	width: 75%;
	height: 70%;
	background-color: rgb(109, 35, 2);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

#aside {
	width: 25%;
	height: 70%;
	background-color: rgb(103, 9, 116);
	display: flex;
	flex-direction: column;
}

.stats {
	width: 90%;
	height: auto;
	margin: 20px auto 0 auto;
	font-size: 30px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px solid rgba(8, 8, 8, 0.959);
	border-bottom: 1px solid rgba(8, 8, 8, 0.959);
}

.ul {
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 0;
	display: flex;
	flex-direction: column;
	width: 80%;
	height: auto;
	margin: 20px auto auto auto;
	font-size: 20px;
	font-weight: 400;
	list-style-type: none;
}

.book {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

#footer {
	height: 10%;
	width: 100%;
	background-color: rgb(255, 0, 85);
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
}
a {
	text-decoration: none;
	color: black;
	margin-left: 5px;
	font-size: 12px;
}
