* {
	font-family: 'Poppins', sans-serif;
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 0;
	padding-inline-end: 0;
	padding-block-start: 0;
	padding-block-end: 0;
	box-sizing: border-box;
}

body {
	height: 98vh;
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

ul {
	list-style-type: none;
	padding-inline-start: 0;
	margin-block-start: 0;
	margin-block-end: 0;
}


a {
	text-decoration: none;
	color: #00ff00;
	margin-left: 5px;
}

a:hover { color: #f3ff00; }

#header {
	width: 100%;
	height: 25%;
	background-color: #f3ff00;
	display: flex;
	justify-content: center;
	font-style: normal;
	font-family: 'Poppins', sans-serif;
	line-height: 57px;
	font-size: 60px;
	font-weight: 700;
	text-shadow: 0 10px 7px rgba(0, 0, 0, 0.12);
	align-items: flex-end;
	padding-block-end: 20px;
}

#main {
	width: 100%;
	height: 70%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background: black;


}

.books {
	box-shadow: -1px 1px 1px #00ff00;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: calc(100% - 275px);
	height: 95%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	border: none;
	overflow: auto;
}

.block {
	width: 260px;
	height: 310px;
	box-shadow: 0 0 2px black;
	background: #161616;
	margin-top: 10px;
}

.header2{
	margin-block-start: 0;
	margin-block-end: 0;
	width: 100%;
	height: auto;
	font-size: 34.1688px;
	font-weight: 900;
	letter-spacing: 0.046em;
	line-height: 81px;
	text-align: center;
	color: #f3ff00;
}

ul.list {
	color: black;
	background-color: #f3ff00;
	width: 211.65px;
	height: 207.6px;
	border-radius: 24.6592px;
	margin: auto auto auto auto;
	display: flex;
	flex-direction: column;
}

.li {
	width: 100%;
	height: 26px;
	display: flex;
	justify-content: space-between;
	font-weight: 900;
	font-size: 18px;
	margin-top: 20px;

}

.li-text {
	margin-left: 10px;
	margin-right: auto;
}

.count {
	margin-right: 10px;
	margin-left: auto;
}

.btn {
	height: 30px;
	width: max-content;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 900;
	font-size: 21.0098px;
	line-height: 32px;
	color: #00ff00;
	background: none;
	border: unset;
	cursor: pointer;
	margin: 18px;
}

.btn:hover { color: #f3ff00;}

#footer {
	width: max-content;
	height: 5%;
	margin: auto auto 0 auto;
	display: flex;
	align-items: center;
	letter-spacing: 0.131em;
	font-size: 14px;
	font-weight: 700;
	color: #f3ff00;
}